.footer {
    color: $green;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 25px 0;
    background-color: $green;
    margin-top: 20px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
        color: #fff;
    }
}
