.products-wrapper{
  display: flex;
  justify-content: space-between;
}
.sidebar{
  flex-basis: 348px;
  background-color: $gray;
}

.products-list{
  width: 1104px;
  background-color: $gray;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}